@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --card-border: 240 5.9% 90%;
  --muted-foreground: 240 3.8% 46.1%;
  --inter: ['Inter', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Arial', 'sans-serif'],
  /* --inter: ['-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Arial', 'sans-serif'], */
  ;
}

.dark {
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 100%;
  --card-border: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --inter: ['Inter', '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Arial', 'sans-serif'],
}
 

/* globals.css */
.hover-elevate:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.active-elevate-2:active {
  transform: translateY(2px);
}